Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # we skip all files with .something
  RewriteCond %{REQUEST_URI} \..+$
  RewriteRule .* - [L]

  # no file, no caching, redirect to index.php
  RewriteRule ^(.*)$ index.php?_path=/$1 [PT,L]
</IfModule>